---
title: "FOOD & WELLNESS CLUB"
date: 2015-06-20 00:00
published: true
layout: architecture
thumbnail: "thumbs/bologna_fico_2015.jpg"
styles:
- "black.css"
- "paris.css"
tags:
- competition
id: "monochrome-loft"
---

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>FOOD & WELLNESS CLUB</h1>
                <p>
                    <span class="adress">Bologna, Italy</span>
                    <span class="state">international competition</span>
                </p>
                <span>People on project:</span>
                <ul>
                    <li>Iaroslava Nesterenko</li>
                    <li>DMITRY VODOVATOV</li>
                </ul>
            </div>
        </div>


        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "bologna_fico_2015_01.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "bologna_fico_2015_02.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "bologna_fico_2015_03.jpg" | asset_url }}" class="fullscreen" ></div>
        <div class="dlblock" style="margin-bottom:2em"><img src="{{ "bologna_fico_2015_04.jpg" | asset_url }}" class="fullscreen" ></div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
