---
title: "Brussels Courthouse"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/brussels_courthouse.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" class="gradient3" >
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Brussels Courthouse</h1>
                <p><span class="adress">The Brussels' Palace of Justice & Place Polaert, Belgium</span><span class="state">international competition</span>
                </p>
                <span class="bgstring">People on project:</span>
                <ul>
                    <li>Nikolai Lim</li>
                    <li>Danil Ovcharenko</li>
                    <li>Fedor Troitsky</li>
                    <li>Ekaterina Maremyanina</li>
                    <li>Natalia Yurkova</li>
                </ul>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock"><img src="{{ "palace-of-justice/crop_main_940w.jpg" | asset_url }}" width="940" height="629"></div>
        </div>
        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "palace-of-justice/crop2-1_400.jpg" | asset_url }}" width="565" height="400"></div>
                        <div class="bond-slide"><img src="{{ "palace-of-justice/crop2-2_400.jpg" | asset_url }}" width="600" height="400"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dlblock" >
            <div class="lblock textfld" >

                <h2>Game On!</h2>
                <h3>Architectural concept of reconstruction of the Brussels Courthouse </h3>
                <h4>A scenario based on a Courthouse totally cleared of its judicial functions</h4>

                <blockquote>A a game is an activity among two or more independent decision-makers seeking to achieve their objectives in some limiting context.</blockquote>
                <p>We want to bring totally new functions to the Courthouse building facing a series of difficult maintenance problems: structure stability issues, lack of fire protection system and other technical fields and etc. However The Brussels Courthouse is the largest building of the Western architecture of the XIX century and in many aspects is regarded as a symbol of Brussels. A true European cultural heritage monument. So let it be an educational theme park.</p>
                <p>A 3D framework of steel tubes is set around the existing brick structure of the Courthouse. Thin steel tubes enlace and pierce the carcass of the building providing a combination of high-tech surgical precision with genuine cultural delicacy in preserving the XIX century construction outlook. The framework also functions as galleries or platforms, providing space for modern green transportation like cutting-edge technology Shweeb capsules, segway vehicles, or scooters, skateboards, roller-skates as well as jogging pathways.</p>
                <p>The 3D framework structure also involves cubic and spherical built-ins, corresponding us to the Atomium monument built for the 1958 Brussels World's Fair or Expo 58 with its nine steel spheres forming a unit cell of an iron crystal.</p>
                <blockquote>A game is a form of art
                    in which participants make decisions
                    in order to manage resources in the pursuit of a goal.</blockquote>
                <p>The Courthouse building along with the planned framework structure will provide sufficient space to gather under the same roof all branches and fields of human knowledge – let it be physics, chemistry, astronomy or geography, history, art. The original Courthouse structure combined with modern built-ins provides plenty of flexible space for display rooms or popular science entertainments like mini-laboratories, experimental models or artistic workshops.</p>
            </div>
            <div class="lblock textfld" >
                <p><strong>U'd better watch this!</strong><br>
                    <span class="small-comment">This was a joyful overnight effort for three of us, to produce something nice in a spirit of true art. We did it! Truly surprising, but this marvelous peice is outstanding work we made using a crappy-tricky bastard called <em>Windows Movie Maker</em> (hate it). Anyhow, you should notice, the actress is gorgeous!</span></p>
                <p>
                    <iframe src="http://player.vimeo.com/video/16793438?byline=0&amp;portrait=0" width="420" height="236" frameborder="0"></iframe>
                    <a href="http://vimeo.com/16793438" target="_new">An HD version for your pleasure is here</a></p>
                </p>
                <p>Newly acquired functions will develop and enhance the surrounding environment and more importantly the square status. The square is now not only traffic connection centre but also acquires key public function. The square is the starting point and gateway for people to either enter the building from the ground level or to ascend to the framework structure and continue their way to the exhibition boards and panels.</p>
                <p>Using the pointed out concept we facilitate the dialogue between the historical building and the brand new structure, we create mutually beneficial relationship between the two constructions.</p>
                <blockquote>A game is a form
                    of play, but with structure and goals.</blockquote>
                <p>Brussels was founded centuries ago. Today we do not know its reasons for sure. Probably it was founded in a course of some game too, who knows. One hundred years had passed since foundation of the Courthouse which occurred as a result of a more recent game.</p>
                <p>The change of building's initial function to the educational centre and science theme park provides new structure and opportunities for new goals'. New opportunities always attract public attention and therefore give chances to necessary investments, to maintaining the project and to preserving the XIX century building's condition and state.</p>
                <strong>Game: next level…</strong>
            </div>
        </div>
    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
