---
title: "АСД студия — Архитектурное проектирование, дизайн–проектирование, и отделочные работы «под ключ»"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/moscow_spb.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div id="lab">
            <h1>Представительство <br>
                Москвы <br>
                в Санкт-Петербурге</h1>
            <p><span class="adress"> Санкт-Петербург. </span><span class="state">фор-эскиз</span></p>
        </div>
        <div class="dlblock"><div class="lblock"><img src="{{ "moscow_spb/crop_main_940w.jpg" | asset_url }}"  width="940" height="478" /></div>  </div>
        <div class="lblock"><img src="{{ "moscow_spb/crop1-1_280x266.jpg" | asset_url }}" width="266" height="280" /></div>
        <div class="lblock"><img src="{{ "moscow_spb/crop1-2_280x376.jpg" | asset_url }}" width="376" height="280" /></div>
    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
