---
title: "Проект Надземного пешеходного перехода с коммерческим центром на пр. Ветеранов"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/pedestrian-crossing-pr-veteranov.jpg"
tags:
- International-competition
---

{{ "black.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Проект Надземного <br>
                    пешеходного перехода <br>
                    с коммерческим центром <br>
                    на пр. Ветеранов</h1>
                <p><span class="adress">Санкт-Петербург, Россия</span><span class="state">стадия ПП</span>
                </p>
                Генпроектировщик: <span class="acd-name">ГУП «Ленгипроинжпроект»</span><br>

                <span>Гл. архитектор:</span> <span class="acd-name">Николай Лим</span> </div>
        </div>


        <div class="dlblock" >
            <div class="lblock"><img src="{{ "pcrossing-veteranov/crop2-1_400.jpg" | asset_url }}" width="636" height="400"></div>
            <div class="lblock"><img src="{{ "pcrossing-veteranov/crop2-2_400.jpg" | asset_url }}" width="420" height="400"></div>
        </div>


    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
