---
title: "Проект Надземного пешеходного перехода с коммерческим центром на ст. метро Электросила"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/pedestrian-crossing-elektrosila.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1>Проект Надземного <br>
                    пешеходного перехода <br>
                    с коммерческим центром <br>
                    на ст. метро Электросила</h1>
                <p>Санкт-Петербург, Россия<span class="state">фор-эскиз</span>
                </p>
                <span>Архитектор:</span> <span class="acd-name">Николай Лим</span> </div>
        </div>

        <div class="dlblock" style="margin-bottom:2em;" >
            <div class="bond-touchmargin" style="height:400px;">
                <div class="bond-wrapper">
                    <div class="bond-box">
                        <div class="bond-slide"><img src="{{ "pcrossing-electrosila/crop1-1_400.jpg" | asset_url }}" width="877" height="400"></div>
                        <div class="bond-slide"><img src="{{ "pcrossing-electrosila/crop1-2_400.jpg" | asset_url }}" width="750" height="400"></div>
                        <div class="bond-slide"><img src="{{ "pcrossing-electrosila/crop1-3_400.jpg" | asset_url }}" width="400" height="400"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
