---
title: "Представительство Москвы в санкт-петербурге"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/predstavitelstvo_moskvi_v_sankt_peterburge.jpg"
tags:
- International-competition
---

{{ "white.css" | asset_url | stylesheet_tag }}

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div id="lab">
            <h1>Представительство <br>
                Москвы <br>
                в Санкт-Петербурге</h1>
            <p><span class="adress"> Санкт-Петербург. </span><span class="state">фор-эскиз</span></p>
        </div>
        <div class="dlblock"><div class="lblock"><img src="{{ "predstavitelstvo_moskvi_v_sankt_peterburge_01.jpg" | asset_url }}"  width="940" height="478" /></div>  </div>
        <div class="lblock"><img src="{{ "predstavitelstvo_moskvi_v_sankt_peterburge_02.jpg" | asset_url }}" width="266" height="280" /></div>
        <div class="lblock"><img src="{{ "predstavitelstvo_moskvi_v_sankt_peterburge_03.jpg" | asset_url }}" width="376" height="280" /></div>
    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>
