@charset "utf-8";
/* CSS Document */

/**
 * Primary styles
 *
 * Author: 
 */






	body, h1, h2, h3, h4, p, blockquote {color:#fff;}
	body {background:#000;}
	blockquote {color:#F33; font-size:120%;}
	

ul, ol {margin:0; padding-left: 0;}
#lab {border:#FFF 1px solid; color: #FFF;}
	
#place-lalla #lab, #place-lalla #lab h1, #place-lalla #lab p {
	color:#222;
	}
#place-lalla #lab{
	border-color:#222;
	}
	#daeu-gosan #lab{
		border: 0px;
	}
	
	#pncsc #lab, #pncsc #lab h1, #pncsc #lab p {
	color:#777;
	}
	#pncsc #lab h1{
	color:#CCC;
	}
	
#pncsc #lab{
	border-color:#777;
	}
	
	#busan-opera #lab, #busan-opera #lab h1, #busan-opera #lab p, #daeu-gosan #lab, #daeu-gosan #lab h1, #daeu-gosan #lab p {
	color:#61c4e3;
	}
#busan-opera #lab{
	border-color:#61c4e3;
	}
	
	
	
#kpop #lab h1 { color:white;}
#kpop #lab .bgstring{background-color:white; color:#333; }

#kpop #lab li{background-color:#FFF; color:#333; display:inline-block;}

#pansionat #lab {
    border:#ddd 0px solid ;
}


h2 {font-size:300%; line-height:95%; }




.small-comment {
	font-size:90%;
	color:#CCC;	
	}