{% block title %}
Проект Реконструкции Бизнес-центра (Лиговский пр. 150)
{% endblock %}

{% block content %}
<div id="container" >    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">
        <div class="dlblock">
            <div id="lab">
                <h1><span class="adress">Проект Реконструкции<br>
			</span>Бизнес-центра<br>
                    (Лиговский пр. 150)</h1>
                <p><span class="adress"> Лиговский проспект 150, Санкт-Петербург, Россия</span><span class="state">стадия рп</span>
                </p>
                <p><span>Архитектор:</span> <span class="acd-name">Николай Лим</span></p>
            </div>
        </div>

        <div class="dlblock" >
            <div class="lblock"><img src="{{ "crop_main_1_940w.jpg" | asset_url }}" width="940" height="386"></div>
            <div class="lblock"><img src="{{ "crop_main_2_940w.jpg" | asset_url }}" width="940" height="386"></div>
        </div>

    </div>
    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div> <!--! end of #container -->

{% endblock %}
