---
title: "Салон красоты &laquo;Бродвей-Дизайн&raquo;"
date: 2013-06-13 00:00
published: true
thumbnail: "thumbs/salon_krasoti_brodvey_dizain.jpg"
tags:
- pub-interior
---

{{ "my_bult.css" | asset_url | stylesheet_tag }}

<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div class="dlblock">
            <div id="lab">
                <h1>Салон красоты <br>
                    &laquo;Бродвей-Дизайн&raquo;</h1>
                <p><span class="area">170м²</span><span class="adress">П. С. Большой просп., 81</span><span class="state">Проект и реализация</span>
                </p>

            </div>
        </div>
        <div class="dlblock"><div class="lblock"><img src="{{ "broadway/crop_main_940w.jpg" | asset_url }}" width="940" height="636" /></div></div>
        <div class="lblock"><img src="{{ "broadway/crop1-1_320x236.jpg" | asset_url }}" width="236" height="320" /></div>
        <div class="lblock"><img src="{{ "broadway/crop1-2_320x283.jpg" | asset_url }}" width="283" height="320" /></div>
    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>