---
title: "Ресторан Японской Кухни &laquo;Рис&raquo;"
date: 2013-01-02 00:00
published: true
layout: design
thumbnail: "thumbs/restoran_yaponskoi_kuhni_ris.jpg"
styles:
- "my.css"
- "my_rice.css"
tags:
- "pub-interior"
---


<div id="container">    <header>
    <!--#include file="super-menu.html" -->
</header>
    <div id="main" role="main">

        <div id="lab">
            <h1>Ресторан Японской <br>
                Кухни &laquo;Рис&raquo;</h1>
            <p><span class="adress">Восстания ул., Санкт-Петербург. </span><span class="state">Проект</span>
            </p>

        </div>

        <div class="dlblock">
            <div class="lblock"><img src="{{ "rice/crop1-1_320x420.jpg" | asset_url }}" width="420" height="320" /></div>
            <div class="lblock"><img src="{{ "rice/crop1-2_320x320.jpg" | asset_url }}" width="320" height="320" /></div>
        </div>
        <div class="dlblock">
            <div class="lblock"><img src="{{ "rice/crop2-1_240x320.jpg" | asset_url }}" width="320" height="240" /></div>
            <div class="lblock"><img src="{{ "rice/crop2-2_240x240.jpg" | asset_url }}" width="240" height="240" /></div>
        </div>
    </div>    <footer>
        <!--#include file="footer.html" -->
    </footer>
</div>