<footer>
    <div class="dlblock">
        <div class="lblock" style="float:right; margin-bottom:0;"><span class="state" style="padding-bottom:0.2em;">&copy; ACDstudio {{ 'now' | date: "%Y" }}</span></div>
    </div>
</footer>
