<header>
    <div id="menu-menu">
        <ul  class="clearfix">
            <li> <a href="/index">Главная</a></li>
            <li><a href="/about-studio">О студии</a></li>
            <li> <a href="/architecture" >Архитектурное проектирование</a></li>
            <li> <a href="/design">Дизайн-проектирование</a></li>

            <li> <a href="/construction-works">Строительно-отделочные работы</a></li>

            <li><a href="/contact">Контактная информация</a></li>
        </ul>
    </div>
</header>