<header>
    <div id="menu-menu">
        <ul  class="clearfix">
            <li> <a href="../index.shtml">Главная</a></li>
            <li><a href="../about-studio.shtml">О студии</a></li>
            <li> <a href="architecture-index.shtml" >Архитектурное проектирование</a></li>
            <li> <a href="../design/design-index.shtml">Дизайн-проектирование</a></li>

            <li> <a href="../construction-works.shtml">Строительно-отделочные работы</a></li>

            <li><a href="../contact.shtml">Контактная информация</a></li>
        </ul>
    </div>
</header>