@charset "utf-8";
/* CSS Document */

/**
 * Primary styles
 *
 * Author: 
 */



/* Label */

#lab {
	border:none;
	}

	


 h2 {color:#CCC; text-transform:uppercase;}

/* Page */


h1 {color:#F69; font-size:800%; line-height:90%; font-weight:bold; text-transform:uppercase;}
body {background:#fff; background-image:url(img/construction-works/bgl.png);}

h2 {font-size:300%; line-height:95%; }
h3 { text-transform:uppercase;}



/* Layout */





