@charset "utf-8";
/* CSS Document */

/**
 * Primary styles
 *
 * Author: 
 */


ol, ul {padding:0; margin:0;}

#lab {	border:#FFF 1px solid ;	color: #FFF;}
	
	
	body, h1, p, blockquote {color:#fff;}
	
	body {background:#000;}
	blockquote {color:#fff; font-size:120%;}


