@charset "utf-8";
/* CSS Document */

/**
 * Primary styles
 *
 * Author: 
 */


ol, ul {padding:0; margin:0;}

#lab {
	border:#ddd 1px solid ;	}
	
#lab h1 {color: #444;	}

	blockquote { font-size:120%;}


