@charset "utf-8";
/* CSS Document */

/**
 * Primary styles
 *
 * Author: 
 */


#lab {
	border:#FFF 1px solid ;
	color: #FFF;
	}
	

	body, h1, p, blockquote {color:#fff;}
	body {background:#000;}
	blockquote {color:#fff; font-size:120%;}


