{% block title %}
АСД студия — О Студии
{% endblock %}
{% block content %}
<div id="container" >
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <h1>О Студии</h1>
        <div class=" lblock textfld" style="font-size:200%; width:auto;"><p>Студия основана в 2002 году. <br>
            Руководитель студии — <strong>Николай Лим</strong>.</p>
            <ul style="font-size:80%;">
                <li>Международный архитектурный конкурс &laquo;Правительственный историко-культурный комплекс в Калининграде (ПОСТ-ЗАМОК)&raquo; — Финалист, Калининград, Россия, 2015</li>
                <li>Международный архитектурный конкурс &laquo;FOOD & WELLNESS CLUB&raquo; — почетный диплом, Болонья, Италия, 2015</li>
                <li>Международный архитектурный конкурс &laquo;Реконструкция здания бывшего российского консульства в Японии&raquo; — 3 место, Хакодате, Япония, 2014</li>
                <li>Закрытый архитектурный конкурс &laquo;Гостиничный комплекс (апарт-отель) на 407 номеров&raquo; — 1 место, Санкт-Петербург, Россия, 2014</li>
                <li>Международный архитектурный конкурс в Баку — 2-е место в номинации D - «Лучший нереализованный проект» за проект Центр морской культуры и поп-музыки г. Гаосюн, Тайвань, Азербайджан 2013</li>
                <li>Международный архитектурный конкурс &laquo;Русский культурный духовно-православный центр в Париже&raquo; — Финалист / Paris, France 2011</li>
                <li>Международный архитектурный конкурс &laquo;Brussels Courthouse Imagine The Future&raquo; — Участник выставки &laquo;Architecture For Justice&raquo; / Brussels, Belgium 2011</li>
                <li>Международный архитектурный конкурс &laquo;Changing The Face 2010&raquo; — Участник выставки / Athens, Greece 2010</li>
                <li>Победитель конкурса премии &laquo;Атлант&raquo; Фестиваля &laquo;Архитектура и дизайн&raquo; (проекты частных интерьеров) за лучший реализованный проект — 2006</li>
                <li>Победитель конкурса премии &laquo;Атлант&raquo; Фестиваля &laquo;Архитектура и дизайн&raquo; (проекты архитектуры частных малоэтажных домов) за лучший нереализованный проект — 2006</li>
                <li>Лауреат конкурса премии &laquo;Атлант&raquo; Фестиваля &laquo;Архитектура и дизайн&raquo; (проекты общественных интерьеров) — 2005</li>
                <li>Номинант «Архитектурной премии 2005»</li>
            </ul>
        </div>
    </div>


</div>
<footer>
    <!--#include file="footer.shtml" -->
</footer>
</div> <!--! end of #container -->
{% endblock %}