
{% block content %}
		<h1>О студии</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor doloribus expedita inventore laborum nemo non odio quidem. Animi distinctio enim eos, esse labore nemo non obcaecati quas qui quibusdam.</p>
	<!-- TODO: Create my project :-) -->
{% endblock %}