{% block title %}
АСД студия — Контактная информация
{% endblock %}
{% block content %}
<div id="container" >
    <header>
        <!--#include file="super-menu.html" -->
    </header>
    <div id="main" role="main">
        <h1>Контактная информация</h1>
        <div class="dlblock" >
            <div class="lblock textfld" >
                <h2>Офис</h2>
                <h3>Email: <a href="mailto:info@acdstudio.ru">info@acdstudio.ru</a></h3>
                <h3></h3>
                <h3>Телефон: +7 (812) 988-49-57</h3>
            </div>
            <div class="lblock textfld" >
                <h2>Руководитель студии</h2>
                <h3>Email: <a href="mailto:lim.nikolai@gmail.com">lim.nikolai@gmail.com</a></h3>
                <h3>Телефон: +7 (921) 963-52-05</h3>
            </div>
        </div>

        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe><br /><small><a href="http://maps.google.ru/maps?f=q&amp;source=embed&amp;hl=ru&amp;geocode=&amp;q=%D1%81%D0%B0%D0%BD%D0%BA%D1%82+%D0%BF%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3+%D1%80%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+%D0%BC%D0%B0%D0%BD%D0%B5%D0%B6%D0%BD%D1%8B%D0%B9+15&amp;aq=&amp;sll=55.354135,40.297852&amp;sspn=44.140761,107.666016&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B0%D0%BD%D0%B5%D0%B6%D0%BD%D1%8B%D0%B9+%D0%BF%D0%B5%D1%80.,+15,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3&amp;t=m&amp;ll=59.944039,30.359001&amp;spn=0.005159,0.013711&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left"></a></small>

    </div>


</div>
<footer>
    <!--#include file="architecture/footer.shtml" -->
</footer>
</div> <!--! end of #container -->

{% endblock %}